name: .NET Core

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.0.100
        
    - name: Build with dotnet
      run: dotnet build Src --configuration Release --version-suffix prerelease-$(date +%Y%m%d%H%M%S)
      
    - name: Pack
      run: dotnet pack ./Src/Shlink.Client.sln --configuration Release -o NuGetPackages
      
    - name: RenamePackage
      run : mv ./NuGetPackages/Shlink.Client.Core.1.0.0.nupkg  ./NuGetPackages/shlink-client-core.nupkg
      
    - name: Publish nuget to GitHub Packages
      run: |
           for f in ./NuGetPackages/*.nupkg
           do
             curl -vX PUT -u "from-zero-fr:${{ secrets.GITHUB_TOKEN }}" -F package=@$f https://nuget.pkg.github.com/from-zero-fr
           done
      shell: bash
